:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --body-color: #212121;
  --white-color: #fff;
  --background-color-footer-header: #2f303a;
  --nav-footer-color: #ffffff99;
  --black-color: #000;
}
body {
  color: var(--body-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
}
/* ===  COMPONENTS  === */
.list {
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: var(--body-color);
}

.current {
  color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.button {
  cursor: pointer;
}
/* ===== header =====*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}
.logo > span {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-color);
}
.menu,
.cont-link {
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
.cont-link {
  color: var(--secondary-color);
}
/* ===== end header =====*/
/* ======== hero ========*/
.hero {
  background-color: var(--background-color-footer-header);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* ======== end hero ========*/
/* ======  advantages ====== */
.adv-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.adv-text {
  display: block;
  line-height: 1.71;
  color: var(--secondary-color);
}
/* ===== end advantages ===== */
/* ======== our work ======== */

/* ====== end our work ======= */
/* ======== our team ======== */

.staff-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.staff-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}
/* ====== end our team ======= */
/* ======= footer ========= */
.footer {
  background-color: var(--background-color-footer-header);
}
.footer > .logo {
  color: var(--white-color);
}
.logo:hover {
  color: var(--accent-color);
}
.address-link,
.mail-link,
.tel-link {
  font-style: normal;
  font-family: var(--main-font);
  line-height: 1.71;
}
.address-link {
  color: var(--white-color);
}
.mail-link,
.tel-link {
  color: var(--nav-footer-color);
}
/* ====== end footer ======= */

/* ==portfolio== */
.button-portf {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--body-color);
}
.button-portf:hover,
.button-portf:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.title-primary {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--body-color);
}
.text-portf {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-font);
}
