:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #757575;
}
body {
  color: #212121;
  font-family: var(--main-font);
}
/* ===  COMPONENTS  === */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.button {
  cursor: pointer;
}
/* ===== header =====*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
}
.logo > span {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-color);
}
.menu,
.cont-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
.cont-link {
  color: var(--secondary-color);
}
/* ===== end header =====*/
/* ======== hero ========*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.hero-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--accent-color);
}
/* ======== end hero ========*/
/* ======  advantages ====== */
.adv-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.adv-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ===== end advantages ===== */
/* ======== our work ======== */

/* ====== end our work ======= */
/* ======== our team ======== */

.staff-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.staff-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ====== end our team ======= */
/* ======= footer ========= */
.footer {
  background-color: #2f303a;
}
.footer > .logo {
  color: #fff;
}
.logo:hover {
  color: var(--accent-color);
}
.address-link,
.mail-link,
.tel-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link {
  color: #fff;
}
.mail-link,
.tel-link {
  color: rgba(255, 255, 255, 0.6);
}
/* ====== end footer ======= */

/* ==portfolio== */
.button-portf {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.button-portf:hover,
.button-portf:focus {
  background-color: var(--accent-color);
  color: #fff;
}
.title-primary {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.title-secondary {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-font);
}
